body {
    background-color: white;
    margin: 0;
}

h1,
h2 {
    color: #083145;
    text-align: left;
    font-family: calibri;
}

p,
ul,
article {
    font-family: verdana;
    font-size: 22px;
    text-align: left;
    font-family: calibri;
}

.main_background {
    background-image: url("image/pexels-photo-job.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;
}

h1.background_text1 {
    position: absolute;
    left: 0;
    top: 450px;
    width: 100%;
    text-align: center;
}

h2.background_text2 {
    position: absolute;
    left: 0;
    top: 500px;
    width: 100%;
    text-align: center;
}

.main-wrapper {
    width: 900px;
    margin: auto;
}

footer {
    background-color: #083145;
    font-family: calibri;
    font-size: 25px;
    color: aliceblue;
}