body {
    background-color: white;
    margin: 0;
}

h1,
h2 {
    font-family: calibri, serif;
    color: #083145;
    text-align: left;
}

p,
ul,
article {
    font-family: calibri, serif;
    font-size: 14px;
    text-align: left;
}

.title-image {
    background: url("image/pexels-photo-job.jpeg") no-repeat center;
    background-size: cover;
    height: 400px;
    position: relative;
}

.title-text {
    position: absolute;
    bottom: 0;
    padding-left: 10px;
}

.main-wrapper {
    width: 600px;
    margin: auto;
}

.menu {
    background-color: #083145;
    margin: 10px 0px 10px 0px;
    text-align: left;
    color: white;
}

section {
    padding-bottom: 100px;
}

.odd-no {
    color: rgb(9, 109, 79);
}

footer {
    background-color: #083145;
    box-sizing: border-box;
    padding: 10px;
    margin: auto 0px auto 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

address {
    font-family: calibri;
    font-size: 14px;
    color: aliceblue;
    text-align: center;
}

.padding-right {
    padding-right: 20px;
}